


<div>

    <h2>Agents</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Permission Sets</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agent in agents">
                    <td><a href="#/agents/{{agent.name | encodeURI}}">{{agent.name}}</a></td>
                    <td>
                        <ul>
                            <li ng-repeat="perm in agent.permissions"><a href="#/permissionsets/{{perm}}">{{perm}}</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

