


<div>

    <h2>Applications</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Online</th>
                    <th>Expiration</th>
                    <th>Agent</th>
                    <th>Capabilities</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in applications">
                    <td><a href="#/applications/{{application.name | encodeURI}}">{{application.name}}</a></td>
                    <td>{{application.version}}</td>
                    <td>{{application.online}}</td>
                    <td>{{application.timesOutAt | date:'h:mm:ss a, MM-dd-yyyy'}}</td>
                    <td>{{application.agent}}</td>
                    <td>{{application.capabilities | csv}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

