


<div>
    <div class="row">
        <div class="col-md-4">
            <h2>All Energy Storage</h2>
        </div>
        <div class="col-md-6" style="margin-top: 1em;">
            <input type="text" class="form-control input-lg" placeholder="search any column" ng-model="searchText" style="height: 100%;">
            <!--<button class="btn btn-info" ng-click="search()" style="height: 100%; width: 60px; margin-bottom: 10px;"><i class="glyphicon glyphicon-search icon-white"></i></button>-->
        </div>
    </div>


    <div ng-cloak style="margin-top: 1.4em">
        <table class="table table-condensed coral-table-2header" style="border-collapse: separate">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2" class="coral-cell-highlight coral-cell-highlight-top">Nameplate Capacity</a></th>
                    <th style="padding-left: 16px;">Charge / Discharge</th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th><a href="" ng-click="sortColumn = 'name'; reverse=!reverse">Device Name</a></th>
                    <th class="coral-cell-highlight coral-cell-highlight-left"><a href="" ng-click="sortColumn = 'CapacityPower'; reverse=!reverse">Power</a></th>
                    <th class="coral-cell-highlight coral-cell-highlight-right"><a href="" ng-click="sortColumn = 'CapacityEnergy'; reverse=!reverse">Energy</a></th>
                    <th style="padding-left: 16px;">Rate</th>
                    <th><a href="" ng-click="sortColumn = 'state'; reverse=!reverse">State</a></th>
                    <th title="State of Charge %" style="text-align: center">SOC %</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ces in ceses | filter:searchText | orderBy:sortColumn:reverse">
                    <td>{{ces.name}}</td>
                    <td class="coral-cell-highlight coral-cell-highlight-left">{{ces.CapacityPower}}</td>
                    <td class="coral-cell-highlight coral-cell-highlight-right">{{ces.CapacityEnergy}}</td>
                    <td style="padding-left: 16px;">{{ces.Charging}}</td>
                    <td><img class="ces-state-icon" src="{{ces.state | essStateIcon}}" title="{{ces.state | essStateDescription}}" style="margin-top:2px"/></td>
                    <td style="width: 60px">
                        <div class="battery-wrapper" title="{{ces.state | essStateDescription}}" >
                            <div class="{{ces['%SOC'] | cesBatterySocChargedClass: ces.state}}" style="width:{{ces.percentSocMax100}}%"></div>
                            <div class="{{ces['%SOC'] | cesBatterySocUnchargedClass: ces.state}}" style="width:{{100-ces.percentSocMax100}}%"></div>
                            <div class="battery-overlay"></div>
                            <!--<div class="battery-charging" ng-show="ces.Standby | cesBatteryCharging: ces.Charging"><i class="glyphicon glyphicon-arrow-right" style="margin-left: 18px; margin-top:2px"></i></div>-->
                            <!--<div class="battery-standby" ng-show="ces.Standby | cesBatteryStandby"></div>-->
                        </div>
                    </td>
                    <td>{{ces['%SOC']}}%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'/partials/loadingprogress.html'"></div>
</div>

