


<div>

    <h2>Commands</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display</th>
                    <th>Type</th>
                    <th>Endpoint</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="command in commands">
                    <td><a href="#/commands/{{command.name | encodeURI}}">{{command.name}}</a></td>
                    <td>{{command.displayName}}</td>
                    <td>{{command.commandType}}</td>
                    <td>{{command.endpoint}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

