


<div>

    <h2>Endpoint: {{endpointConnection.endpoint.name}}</h2>

    <div>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>Protocol</td>
                <td>{{endpointConnection.endpoint.protocol}}</td>
            </tr>
            <tr>
                <td>Auto Assigned</td>
                <td>{{endpointConnection.endpoint.autoAssigned}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{endpointConnection.state}}</td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{endpointConnection.enabled}}</td>
            </tr>
            <tr>
                <td>Front End</td>
                <td>{{endpointConnection.fep}}</td>
            </tr>
            <tr>
                <td>Port</td>
                <td>{{endpointConnection.endpoint.channel.name}}</td>
            </tr>
            <tr>
                <td>Port State</td>
                <td>{{endpointConnection.endpoint.channel.state}}</td>
            </tr>
            <tr>
                <td>Routed</td>
                <td>{{endpointConnection.routed}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

