


<div>

    <h2>Endpoints</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protocol</th>
                    <th>Auto Assigned</th>
                    <th>State</th>
                    <th>Enabled</th>
                    <th>Front End</th>
                    <th>Port</th>
                    <th>Port State</th>
                    <th>Routed</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ec in endpointConnections">
                    <td><a href="#/endpointconnections/{{ec.endpoint.name | encodeURI}}">{{ec.endpoint.name}}</a></td>
                    <td>{{ec.endpoint.protocol}}</td>
                    <td>{{ec.endpoint.autoAssigned}}</td>
                    <td>{{ec.state}}</td>
                    <td>{{ec.enabled}}</td>
                    <td>{{ec.fep}}</td>
                    <td>{{ec.endpoint.channel.name}}</td>
                    <td>{{ec.endpoint.channel.State}}</td>
                    <td>{{ec.routed}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

