


<div>

    <h2>Endpoints</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protocol</th>
                    <th>Enabled</th>
                    <th>Comms Status</th>
                    <th>Last Heartbeat</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ep in endpoints">
                    <td><a href="#/endpoints/{{ep.endpoint.name | encodeURI}}">{{ep.name}}</a></td>
                    <td>{{ep.protocol}}</td>
                    <td>{{ep.enabled}}</td>
                    <td><span ng-class="ep.commStatus.status | commStatusIcon: ep.enabled"></span> {{ep.commStatus.status}}</td>
                    <td>{{ep.commStatus.lastHeartbeat}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'/partials/loadingprogress.html'"></div>
</div>

