


<div>

    <h2>Endpoint: {{endpoint.name}}</h2>

    <div>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>Protocol</td>
                <td>{{endpoint.protocol}}</td>
            </tr>
            <tr>
                <td>Auto Assigned</td>
                <td>{{endpoint.auto}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{endpoint.state}}</td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{endpoint.enabled}}</td>
            </tr>
            <tr>
                <td>Front End</td>
                <td>{{endpoint.fep}}</td>
            </tr>
            <tr>
                <td>Port</td>
                <td>{{endpoint.port}}</td>
            </tr>
            <tr>
                <td>Port State</td>
                <td>{{endpoint.portState}}</td>
            </tr>
            <tr>
                <td>Routed</td>
                <td>{{endpoint.routed}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

