


<div>
    <div class="row-fluid">
        <div class="span3">
            <h2>CES</h2>
        </div>
        <div class="span7" style="margin-top: 12px;">
            <input type="text" placeholder="search any column" ng-model="searchText" style="height: 100%; width: 360px;">
            <!--<button class="btn btn-info" ng-click="search()" style="height: 100%; width: 60px; margin-bottom: 10px;"><i class="icon-search icon-white"></i></button>-->
        </div>
    </div>


    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Nameplate Capacity</th>
                    <th>Charge / Discharge Rate</th>
                    <th>State</th>
                    <th title="State of Charge %" style="text-align: center">SOC %</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ess in esses | filter:searchText">
                    <td>{{ess.name}}</td>
                    <td>{{ess.Capacity}}</td>
                    <td>{{ess.Charging}}</td>
                    <td><i class="{{ess.state | essStateIcon}}" title="{{ess.state | essStateDescription}}" style="margin-top:2px"></i></td>
                    <td style="width: 60px">
                        <div class="battery-wrapper" title="{{ess.state | essStateDescription}}" >
                            <div class="{{ess['%SOC'] | essBatterySocChargedClass: ess.state}}" style="width:{{ess['%SOC']}}%"></div>
                            <div class="{{ess['%SOC'] | essBatterySocUnchargedClass: ess.state}}" style="width:{{100-ess['%SOC']}}%"></div>
                            <div class="battery-overlay"></div>
                            <!--<div class="battery-charging" ng-show="ess.Standby | essBatteryCharging: ess.Charging"><i class="icon-arrow-right" style="margin-left: 18px; margin-top:2px"></i></div>-->
                            <!--<div class="battery-standby" ng-show="ess.Standby | essBatteryStandby"></div>-->
                        </div>
                    </td>
                    <td>{{ess['%SOC']}}%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

