


<div>

    <h2>Permission Sets</h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Allows</th>
                    <th>Denies</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="set in permissionSets">
                    <td><a href="#/permissionsets/{{set.name | encodeURI}}">{{set.name}}</a></td>
                    <td>{{set.allows}}</td>
                    <td>{{set.denies}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'partials/loadingprogress.html'"></div>
</div>

