


<div>

    <h2>Permission Set: {{permissionset.name}}</h2>

    <h3>Permissions: </h3>
    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Allow/Deny</th>
                <th>Actions</th>
                <th>Resources</th>
                <th>Selectors</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="permission in permissionSet.permissions">
                <td>{{permission.allow}}</td>
                <td>{{permission.actions | csv}}</td>
                <td>{{permission.resources | csv}}</td>
                <td>{{permission.selectors | csv}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

