


<div>

    <h2>{{equipmentName}}<span style="font-weight: lighter;">Points</span></h2>

    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Endpoint</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="point in points">
                    <td><a href="#/points/{{point.id | encodeURI}}/{{point.name | encodeURI}}">{{point.name}}</a></td>
                    <td>{{point.pointType}}</td>
                    <td>{{point.unit}}</td>
                    <td>{{point.endpoint}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-include src="'/partials/loadingprogress.html'"></div>
</div>

