


<div>

    <h2>Point: {{point.name}}</h2>

    <div>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>ID</td>
                <td>{{point.id}}</td>
            </tr>
            <tr>
                <td>Value Type</td>
                <td>{{point.valueType}}</td>
            </tr>
            <tr>
                <td>Unit</td>
                <td>{{point.unit}}</td>
            </tr>
            <tr>
                <td>Endpoint</td>
                <td>{{point.endpoint}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

