@(title: String)

@main(title, routes.Assets.at("javascripts/login")) {


<div class="container-fluid" ng-controller="LoginController">
    <div class="row-fluid">
        <div class="span12">
            <!-- <div ng-view></div> -->

            <div id="loginModal" class="modal hide fade">
                <div class="modal-header">
                    <h3>Login</h3>
                </div>
                <div class="modal-body" style="padding-left: 120px">
                        <!--<form><fieldset>-->
                    <label></label>
                    <input id="userName" type="text" class="span8" ng-model="userName" placeholder="user name">
                    <label></label>
                    <input id="password" type="password" class="span8" ng-model="password" placeholder="password">
                        <!--</fieldset></form>-->
                </div>
                <div class="modal-footer">
                    <div class="alert alert-error" ng-show="!!error" style="text-align: center">
                        <strong>Oh my! </strong> {{error}}
                    </div>
                    <a ng-click="login()" class="btn btn-primary">Sign in</a>
                </div>
            </div>


        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Green Energy Corp 2013</p>
    </footer>

</div>

}
