@(title: String, appModule: Call, customStylesheet: Option[Call] = None)(content: Html)

<!DOCTYPE html>

<html lang="en"> <!-- no ng-app here. With RequireJS, call angular.bootstrap() manually at bottom of each app.js, login.js, etc. -->
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap3/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/d3-traits/d3-traits.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/angular-bootstrap-nav-tree/abn_tree.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">
        @for( styleSheet <- customStylesheet) {
            <link rel="stylesheet" href="@customStylesheet">
        }
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body role="document">
        @content

        <script src="@routes.Assets.at("lib/jquery-1.11.1.min.js")"></script>
        <script src="@routes.Assets.at("lib/moment.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/require.js").url" data-main="@appModule.url"></script>
@* @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = appModule.url)*@
    </body>
</html>
