@(title: String, appModule: Call)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap3/css/bootstrap-glyphicons.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/d3-traits/d3-traits.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = appModule.url)
    </body>
</html>
