


<div ng-controller="CommandDetailControl">

    <h2>Command: {{command.name}}</h2>

    <div>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>UUID</td>
                <td>{{command.uuid}}</td>
            </tr>
            <tr>
                <td>Display Name</td>
                <td>{{command.displayName}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{command.commandType}}</td>
            </tr>
            <tr>
                <td>Endpoint</td>
                <td>{{command.endpoint}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

