


<div class="container-fluid" ng-controller="CharlotteControl">
	<div class="row-fluid">
		<div class="span9">
		
			<h2>Entities</h2>

			<div>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th>Unit</th>
							<th>Time</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="meas in node1Measurements">
							<td>{{meas.name}}</td>
							<td>{{meas.value | valround}}</td>
							<td>{{meas.unit}}</td>
							<td>{{meas.time | timeview}}</td>
							<td>{{meas.count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

